/* Navbar styles */
.navbar {
    background-color: #333; /* Dark background color */
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  
  .navbar a {
    color: white; /* White text color */
    text-decoration: none; /* Remove underlines from links */
  }
  
  .navbar a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  